.App {
  text-align: center;
}

.container{
  width: 80%;
  margin-left: 12%;
  
}
input {
  width: 40%;
  height:40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(194, 147, 238);
  text-indent: 20px;
  margin: 10px;
}

input:focus{
  box-shadow: 0 0 5px rgb(228, 165, 165);
}

.card{
  width:25% ;
  box-shadow: 0 0 5px rgb(194, 147, 238);
  display: inline-block;
  margin:10px;
  word-wrap: break-word;
}

table,td,th{
  border: .5px solid rgb(159, 240, 229);
  
}

td,th{
  padding: 10px;
}

table{
  border-collapse:collapse ;
}

tbody tr:nth-child(even){
  background-color:rgb(203, 243, 238) ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
